<div class="base-wrapper">

    <button *ngIf="showNav" class="nav-button" type="button" mat-button (click)="toggleNav()">
        <span class="material-icons">
            menu
        </span>
    </button>
    <mat-drawer-container class="nav-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side">
            <button (click)="toggleNav()" mat-raised-button>
                <span class="material-icons">
                    close
                </span>

            </button>
            <button routerLink="/user-form" routerLinkActive="active" mat-raised-button>
                Űrlap
            </button>
            <button routerLink="/user-form/evaluation" routerLinkActive="active" mat-raised-button>
                Kiértékelő
            </button>
        </mat-drawer>

    </mat-drawer-container>
    <router-outlet></router-outlet>
</div>